<template name="partnershipIntro">
  <section id="partnership-intro" class="section-flow blue point-down at-page-top">
    <div class="container">
      <h1>Partnership</h1>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Ethereum has been approached by a number of entities representing miners, wallet developers and exchanges in regard to partnership opportunities. We are now working alongside these entities, offering assistance so that they might utilise Ethereum in the most efficient and competent way possible. We’re more than happy to provide assistance to any group that is looking to iterate itself on Ethereum or use it to provide services to others. This can be in the form of relevant documentation, free consultation and even boots on the ground.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
