<template name="partnershipListing">
  <section id="partnership-listing" class="section-flow light-grey point-down">
    <div class="container">
      <h1>Where can I get Ethereum listing information?</h1>
      <table>
        <tr>
          <td>
            Developer
          </td>
          <td>
            Ethereum
          </td>
        </tr>
        <tr>
          <td>
            Coin name
          </td>
          <td>
            Ether
          </td>
        </tr>
        <tr>
          <td>
            Coin symbol
          </td>
          <td>
            Ξ
          </td>
        </tr>
        <tr>
          <td>
            Trading symbol
          </td>
          <td>
            ETH
          </td>
        </tr>
        <tr>
          <td>
            Denominations
          </td>
          <td class="inline-list">
            <span>1 ether</span>
            
            <ul class="inline-list">
              <li>= 1 000 finney</li>
              <li>= 1 000 000 szabo</li>
              <li>= 1 000 000 000 000 000 000 wei</li>
              <li>= 0.001 grand (1 000 ether = 1 grand)</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Logo
          </td>
          <td>
            Please email <a href="mailto:ian.meikle@ethereum.org">ian.meikle@ethereum.org</a>
          </td>
        </tr>
        <tr>
          <td>
            Launch date
          </td>
          <td>
            20th March 2015 <a href="http://instagantt.com/snapshot.html#/54b845c6a88104c84a000097">http://instagantt.com/snapshot.html#/54b845c6a88104c84a000097</a>
          </td>
        </tr>
        <tr>
          <td>
            GitHub link
          </td>
          <td>
            <a href="https://github.com/ethereum">github.com/ethereum</a>
          </td>
        </tr>
        <tr>
          <td>
            Blockchain Explorer
          </td>
          <td>
            <ul>
              <li><a href="https://Ether.fund">Ether.fund</a></li>
              <li><a href="https://ethergit.com">ethergit.com</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Transaction fee
          </td>
          <td>
            Variable, depending on demand
          </td>
        </tr>
      </table>
    </div>
  </section>
</template>
