<template name="partnershipBlockchain">
  <section id="partnership-blockchain" class="section-flow light-grey point-down">
    <div class="container">
      <h1>How are events on the blockchain recorded and accessed?</h1>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Events are reported through log entries in an Ethereum contract. An Ethereum contract could represent a payment reception service, for example. Upon reception of payments by a client (address), the address and funds received are recorded as a “log” – a specific opcode. See our ABI for more details on “Events”:
          </p>
          <p>
            <a href="https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI">
              github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
