<template name="partnershipIntegration">
  <section id="partnership-integration" class="section-flow blue point-down">
    <div class="container">
      <h1>How can Ethereum be integrated into wallets, payment processing, and other services?</h1>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Extending our client libraries
          </p>
          <p>
            Advantages include speed, ease of integration as well as maintenance
          </p>
          <ul class="doc-links">
            <li>
              <a href="https://github.com/ethereum/wiki/wiki/JSON-RPC">
                <img src="/images/file-icon.svg"/>
                <span>JSON RPC</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/ethereum/wiki/wiki/JavaScript-API">
                <img src="/images/file-icon.svg"/>
                <span>JavaScript API</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
