<template name="partnershipContact">
  <section id="partnership-contact" class="section-flow dark-blue point-down">
    <div class="container">
      <h1>How can I get in contact with someone at Ethereum in regard to partnership?</h1>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Though we are very active on social media, the easiest way to reach someone at Ethereum is to email <a href="mailto:george@ethdev.com">george@ethdev.com</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
