<template name="etherIntro">
  <section id="ether-intro" class="section-flow light-grey at-page-top point-down">
    <div class="container">
      <h1>What is ether?</h1>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Ether is a necessary element -- a fuel -- for operating the distributed application software platform we are building: Ethereum. Without the requirement of payment of ether for every computational step and storage operation within the system, infinite loops or excessive storage demands could bog down Ethereum and effectively destroy it.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
