<template name="etherPurchase">
  <section id="ether-purchase" class="section-flow point-down dark-blue">
    <div class="container">
      <h1>Looking to purchase ether?</h1>
      <div class="row">
        <div class="col-xs-12">
          <p>
            We’ve been approached by several Exchanges that are looking to list Ether from the release of the genesis block. We are now actively working with them to ensure Ether will be available to purchase at launch in the form of the Ethereum Exchange Working Group which aims to establish a trading standard for Ethereum, which should improve overall user experience and exchange interoperability. If you are an exchange that wishes to list Ether, please contact <a href="mailto:info@ethereum.org">info@ethereum.org</a>
          </p>
          <p>
            A list of exchanges listing Ether will be available on this page at the genesis block launch.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
