<template name="etherDocuments">
  <section id="ether-documents" class="section-flow dark-blue point-down">
    <div class="container">
      <h1>Download ether sale documents</h1>
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li>
              <a href="https://www.ethereum.org/pdfs/IntendedUseOfRevenue.pdf">
                <img src="/images/file-icon.svg"/>
                <span>Intended use of revenue</span>
              </a>
            </li>
            <li>
              <a href="https://www.ethereum.org/pdfs/TermsAndConditionsOfTheEthereumGenesisSale.pdf">
                <img src="/images/file-icon.svg"/>
                <span>Terms and Conditions of the Ethereum Genesis Sale</span>
              </a>
            </li>
            <li>
              <a href="https://www.ethereum.org/pdfs/EtherProductPurchaseAgreement.pdf">
                <img src="/images/file-icon.svg"/>
                <span>Ether Product Purchase Agreement</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
