<template name="companyStructurePage">
  <div id="company-structure-page" class="page">
    <section class="section-flow dark-blue at-page-top">
      <h1>Ethereum company structure</h1>
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="thumbnail no-decoration">
              <img src="/images/COMPANY_STRUCTURE.svg"/>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
