<template name="simplicityBackground">
  <img src="/images/MACBOOK.jpg"/>
</template>
<template name="universalityBackground">
</template>
<template name="modularityBackground">
</template>
<template name="nonDiscriminationBackground">
</template>

<template name="simplicityContent">
  <h2>Simplicity</h2>
  <p>
    Ethereum is a protocol that is open to all. Any programmer should be able to write smart contracts and Ethereum ÐApps in languages they already are familiar with like C, Javascript or Python.
  </p>
  <p>
    Programmers should also be able to implement the entire specification with relative ease, in order to minimize the influence that any specific individual or group could have on the protocol.
  </p>
  <p>
    The Ethereum protocol should be as simple as possible, and optimizations which add complexity should not be included unless they provide a very substantial benefit.
  </p>
  <p>
    Partnered with the <a href="https://github.com/ethereum/wiki/wiki/Whisper-Overview">Whisper</a> and <a href="https://github.com/ethereum/cpp-ethereum/wiki/Swarm">Swarm</a> protocols, Ethereum lays the foundations for a P2P Web 3.0.
  </p>
</template>

<template name="universalityContent">
</template>
<template name="modularityContent">
</template>
<template name="nonDiscriminationContent">
</template>

<template name="philosophyPage">
  {{#with slide}}
    {{ UI.dynamic template=background }}
    <div class="page" id="philosophy-page">
      <div class="container">
        <h1>Philosophy</h1>
        <div class="row">
          {{ UI.dynamic template=content }}
        </div>
      </div>
    </div>
  {{/with}}
</template>
