<template name="philosophyPage">
  <div class="container page" id="philosophy-page">
    <h1>Philosophy</h1>
    <div class="row img-left">
      	<P>
      		<img src="images/temp-img.jpg">
		    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus ultrices urna vel facilisis. Proin vitae interdum nunc. Nunc gravida pulvinar diam, et dapibus odio imperdiet ac. Integer pretium nisi vel ullamcorper aliquet. Donec mauris libero, sodales quis felis non, finibus hendrerit risus. Mauris congue lacinia nulla id dapibus. Ut id dignissim odio. Aenean pulvinar aliquet feugiat. Vivamus accumsan cursus purus, ac commodo ligula egestas non. Nunc viverra accumsan purus nec auctor.

			Phasellus porta euismod lacinia. Proin vestibulum orci neque, iaculis eleifend mauris blandit quis. Mauris quam enim, ullamcorper a risus sed, pulvinar volutpat massa. Ut non lorem nisi. Suspendisse porta in dolor laoreet sagittis. Ut ultricies, nisl vel dapibus sagittis, magna mauris pellentesque lorem, nec mollis mauris felis vel ipsum. Ut vitae porta felis, eu bibendum massa. Ut aliquam nisl ex, et suscipit urna semper eu.
		</P>
    </div>
       <div class="row img-right">
      	<P>
      		<img src="images/temp-img.jpg">
		    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus ultrices urna vel facilisis. Proin vitae interdum nunc. Nunc gravida pulvinar diam, et dapibus odio imperdiet ac. Integer pretium nisi vel ullamcorper aliquet. Donec mauris libero, sodales quis felis non, finibus hendrerit risus. Mauris congue lacinia nulla id dapibus. Ut id dignissim odio. Aenean pulvinar aliquet feugiat. Vivamus accumsan cursus purus, ac commodo ligula egestas non. Nunc viverra accumsan purus nec auctor.

			Phasellus porta euismod lacinia. Proin vestibulum orci neque, iaculis eleifend mauris blandit quis. Mauris quam enim, ullamcorper a risus sed, pulvinar volutpat massa. Ut non lorem nisi. Suspendisse porta in dolor laoreet sagittis. Ut ultricies, nisl vel dapibus sagittis, magna mauris pellentesque lorem, nec mollis mauris felis vel ipsum. Ut vitae porta felis, eu bibendum massa. Ut aliquam nisl ex, et suscipit urna semper eu.
		</P>
    </div>
  </div>
</template>
