<template name="pressPage">
  <div class="page" id="press-page">
    <section id="press-releases" class="section-flow light-grey at-page-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <h1>Press</h1>
            {{> pressReleases press }}
          </div>
          <div class="col-xs-4">
            <section class="subsection section-flow dark-blue">
              {{>tweets tweets}}
              <h1><a href="https://blog.ethereum.org/">Blog</a></h1>
              {{>blogPosts blogFeed}}
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
