<template name="pressPage">
  <div class="page" id="press-page">
    <div class="section-flow red">
      <div class="container">
        <h1>Press</h1>
      </div>
    </div>
    <section id="press-releases" class="section-flow blue">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            {{> pressReleases press }}
          </div>
          <div class="col-xs-4">
            <section class="subsection section-flow light-grey">
              {{>tweets tweets}}
              {{>blogPosts blogFeed}}
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
