<template name="teamPage">
  <div class="container page" id="team-page">
    <h1>Team</h1>
    <div class="row">
      <ul class="members">
      	<li class="member col-md-3">
      		<div class="member-image"><img src=""></div>
      		<div class="member-info">
      			<a href="#">Vitalik Buterin</a>
      			<span>Founder and Inventor of Ethereum</span>
      		</div>
      	</li>
      	<li class="member col-md-3">
      		<div class="member-image"><img src=""></div>
      		<div class="member-info">
      			<a href="#">Vitalik Buterin</a>
      			<span>Founder and Inventor of Ethereum</span>
      		</div>
      	</li>
      	<li class="member col-md-3">
      		<div class="member-image"><img src=""></div>
      		<div class="member-info">
      			<a href="#">Vitalik Buterin</a>
      			<span>Founder and Inventor of Ethereum</span>
      		</div>
      	</li>
      	<li class="member col-md-3">
      		<div class="member-image"><img src=""></div>
      		<div class="member-info">
      			<a href="#">Vitalik Buterin</a>
      			<span>Founder and Inventor of Ethereum</span>
      		</div>
      	</li>
      	<li class="member col-md-3">
      		<div class="member-image"><img src=""></div>
      		<div class="member-info">
      			<a href="#">Vitalik Buterin</a>
      			<span>Founder and Inventor of Ethereum</span>
      		</div>
      	</li>
      </ul>
    </div>
  </div>
</template>
