<template name="technologyPage">
  <div class="container page" id="technology-page">
    <h1>Technology</h1>
    <div class="row page-p">
    	<P >
      	Ethereum is a platform and a programming language that makes it possible for any developer to build and publish next-generation distributed applications.
      	</P>
		<P>
		Ether, Ethereum's cryptofuel, powers the applications on the decentralized network.
		</P>
		<P>
		Ethereum can be used to codify, decentralize, secure and trade just about anything: voting, domain names, financial exchanges, crowdfunding, company governance, contracts and agreements of most kind, intellectual property, and even smart property thanks to hardware integration.
		</P>
		<P>
		Ethereum borrows the concept of decentralized consensus that makes bitcoin so resilient, yet makes it trivial to build on its foundation. To find out more about how Ethereum works, consult the white and yellow papers.
		</P>
    </div>
  </div>
</template>
