<template name="callToAction">
  <section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a class="btn-cta" href="https://dev.ethereum.org">
            <span class="title">Development</span>
            <p>
              Lorem ipsum dolor sit amet, in has mazim dolores conclusionemque. Ne eum adhuc tation, no nam fierent voluptatibus, dolor altera quo ad.
            </p>
          </a>
        </div>
        <div class="col-md-4">
          <a class="btn-cta" href="{{pathFor 'ether'}}">
            <span class="title">Ether</span>
            <p>
              Lorem ipsum dolor sit amet, in has mazim dolores conclusionemque. Ne eum adhuc tation, no nam fierent voluptatibus, dolor altera quo ad.
            </p>
          </a>
        </div>
        <div class="col-md-4">
          <a class="btn-cta" href="{{pathFor 'foundation'}}">
            <span class="title">Foundation</span>
            <p>
              Lorem ipsum dolor sit amet, in has mazim dolores conclusionemque. Ne eum adhuc tation, no nam fierent voluptatibus, dolor altera quo ad.
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
