<template name="callToAction">
  <section id="call-to-action" class="section-flow light-grey point-down">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <a class="btn-cta" href="https://dev.ethereum.org">
            <span class="title">Development</span>
            <p>
              ETH/DEV, the delivery and development of and on the Ethereum system and its related technologies.
            </p>
          </a>
        </div>
        <div class="col-xs-4">
          <a class="btn-cta" href="{{pathFor 'ether'}}">
            <span class="title">Ether</span>
            <p>
              Our token-based payment system, what it is, how you get it and how you can use it.
            </p>
          </a>
        </div>
        <div class="col-xs-4">
          <a class="btn-cta" href="{{pathFor 'foundation'}}">
            <span class="title">Foundation</span>
            <p>
              Our organisation, who is behind it, its structure, and what it does to further the interests of Ethereum.
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
