<template name="community">
  <section id="community">
  	<div class="container">
      <div class="row">
        <div class="col-md-12">
         <h2>COMMUNITY</h2>
         <p>Ethereum has a vibrant worldwide community. We are lucky to have meetups in over 50 cities around the world organized by community members like you. If you don't see a meetup near you, <a href="#">start one</a>!</p>
        </div>
	    </div>
      <div class="row">
        <div class="col-md-4">
          <div class="toplinks">
           <div><a href="#">London</a><a href="#">Silicon Valley</a></div>
           <div><a href="#">Berlin</a><a href="#">Amsterdam</a></div>
          </div>
          <div class="filterbox"><input type="text" placeholder=""/> <input type="button" class="btn btn-primary btn-small" value="Search"/></div>
          <div class="bottomlinks">
            <ul>
              <li><a href="#">City 1</a></li>
              <li><a href="#">City 2</a></li>
              <li><a href="#">City 3</a></li>
              <li><a href="#">City 4</a></li>
            </ul>
             <ul>
              <li><a href="#">City 5</a></li>
              <li><a href="#">City 6</a></li>
              <li><a href="#">City 7</a></li>
              <li><a href="#">City 8</a></li>
            </ul>
            <a href="#" class="morelinks">40 more...</a>
          </div>
         
            
          
        </div>
        <div class="col-md-8">
          <div class="map"></div>
        </div>
      </div>
	  </div>
  </section>
</template>