<template name="community">
  <section id="community">
    <a name="community"></a>
  	<div class="container">
      <div class="row">
        <div class="col-md-12">
         <h2>COMMUNITY</h2>
         <p>Ethereum has a vibrant worldwide community. We are lucky to have meetups in over 50 cities around the world organized by community members like you. If you don't see a meetup near you, <a href="#">start one</a>!</p>
        </div>
	    </div>
      <div class="row">
        <div class="col-md-4">
          <div class="toplinks">
            <div>
              <a href="http://www.meetup.com/ethereum/">London</a>
              <a href="http://www.meetup.com/EthereumSiliconValley/">Silicon Valley</a></div>
            <div>
              <a href="www.meetup.com/Berlin-Ethereum-Meetup/">Berlin</a>
              <a href="www.meetup.com/Amsterdam-Ethereum-Meetup/">Amsterdam</a>
            </div>
          </div>

          <div class="bottomlinks">
            <ul>
              <li><a href="#">City 1</a></li>
              <li><a href="#">City 2</a></li>
              <li><a href="#">City 3</a></li>
              <li><a href="#">City 4</a></li>
            </ul>
             <ul>
              <li><a href="#">City 5</a></li>
              <li><a href="#">City 6</a></li>
              <li><a href="#">City 7</a></li>
              <li><a href="#">City 8</a></li>
            </ul>
            <a href="https://forum.ethereum.org/discussion/797/list-of-ethereum-specific-meetups-live-updates" class="morelinks">40 more...</a>
          </div>
          
        </div>
        <div class="col-md-8">
          <div id="meetupmap"></div>
        </div>
      </div>
	  </div>
  </section>
</template>
