<template name="community">
  <section id="community">
    <a name="community"></a>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>COMMUNITY</h2>
          <p>Ethereum has a vibrant worldwide community. We are lucky to have meetups in over 50 cities around the world organized by community members like you. If you don't see a meetup near you, <a href="https://forum.ethereum.org/discussion/171/how-to-start-an-ethereum-meetup-faq" target="_blank">start one</a>!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="container-fluid meetup-list">
            <div class="row">
              {{#each featuredMeetups}}
                <div class="col-md-6">
                  <a href="{{url}}" class="meetup">{{city}}</a>
                </div>
              {{/each}}
              <div class="col-md-6">
                <a href="https://forum.ethereum.org/discussion/797/list-of-ethereum-specific-meetups-live-updates" target="_blank" class="morelinks">{{unfeaturedMeetupCount}} more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div id="meetupmap"></div>
        </div>
      </div>
    </div>
  </section>
</template>
