<template name="editTeamProfileModal">
  <div id="edit-team-profile-modal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        {{#autoForm collection="TeamProfiles" id="editTeamProfileForm" type=formType doc=currentProfile }}
          <div class="modal-body">
            {{> afQuickField name="name"}}
            {{> afQuickField name="title"}}
            {{> afQuickField name="photoId"}}
            <div class="form-group">
              <label class="control-label">
                Positioned after
              </label>
              {{> afFieldInput options=insertAfterOptions name="prev" class="form-control" firstOption="None"}}
            </div>
          </div>
          <div class="modal-footer">
            {{#if currentProfile }}
              <button class="btn btn-danger" delete-profile>
                Delete
              </button>
            {{/if}}
            <button class="btn btn-eth" type="submit">
              Save
            </button>
            <button type="reset" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
