<template name="etherBalanceModal">
  <div id="ether-balance-modal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          Your Ether balance
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-9">
                <p>
                  {{body}}
                </p>
                {{#if bodySecondary }}
                  <p class="secondary">
                    {{bodySecondary}}
                  </p>
                {{/if}}
              </div>
              <div class="col-xs-3">
                <button class="btn btn-light-grey btn-block" data-dismiss="modal">
                  Ok
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
