<template name="etherChecker">
  <section id="ether-checker">
    <div class="container">
      <div class="row">

   
        <div class="col-md-4">
          <div class="pull-left">
            <h4>
              Estimated Ether purchased
              <span class="popup-ether" data-toggle="popover" data-trigger="hover" tabindex="0" title="Estimated Ether Purchased" data-container="body" data-placement="right" data-content="Total amount of Ether estimated to have been purchased in the pre-sale.">?</span>
            </h4>

            <p>
              <span class="important">
                {{totalEther}}
              </span>
              ETH
            </p>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="pull-right check-balance">
            <h4>
              Check your Ether balance <span class="popup-ether" data-toggle="popover" data-trigger="hover" tabindex="0" title="Ether checker" data-container="body" data-placement="left" data-content="If you have already purchased ether, you can check your account balance by entering your address here.">?</span>
            </h4>
            
            <form>
              <input type="text" name="address" placeholder="Ether address"/>
              <input class="btn btn-eth" type="submit" value="Check"/>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  {{> etherBalanceModal modalText}}
</template>
