<template name="featuredIn">
  <section id="featured-in" class="section-flow  point-down">
    <div class="container">
      <h1>Featured in</h1>
      <div class="row">
        <div class="col-md-12">
          <table class="sparse-bordered">
            {{#each featuredInGroups }}
              <tr>
                {{#each this}}
                  <td>
                    <a href="{{url}}" class="thumbnail">
                      <img src="{{imgUrl}}"/>
                    </a>
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </section>
</template>
