<template name="features">
  <section id="features" class="section-flow light-grey">
    <div class="container main">
      <div class="row">
        <div class="col-xs-3">
          <div class="thumbnail no-decoration">
            <img src="/images/Easy_to_develop.svg"/>
          </div>
          
          <h3>Easy to develop</h3>
          <p>
            One of the primary focuses of the Ethereum team is building development tools to help users more easily develop applications on top of the Ethereum platform. All of the technical complexities of managing distributed consensus and maintaining common peer-to-peer networking infrastructure are handled by ourselves so you don't have to.
          </p>
        </div>
        <div class="col-xs-3">
          <div class="thumbnail no-decoration">
            <img src="/images/Easy_to_Use.svg"/>
          </div>
          <h3>Easy to use</h3>
          <p>
            The Mist client aims to provide a solid, unified experience for browsing the decentralized web, making the user experience as simple as installing and using an app on Android or Chrome. Mist handles account management, key management, blockchain synchronization and other details for you so you don't have to.
          </p>
        </div>
        <div class="col-xs-3">
          <div class="thumbnail no-decoration">
            <img src="/images/Trustful.svg"/>
          </div>
          <h3>Trustless</h3>
          <p>
            Ethereum's decentralized infrastructure is guaranteed to continue being online for as long as at least a single user continues to participate in the network, and cannot arbitrarily and unexpectedly be shut down, change its offerings, exclude or discriminate against specific categories of users, or undesirably modify its terms of service. The community alone is ultimately in charge.
          </p>
        </div>
        <div class="col-xs-3">
          <div class="thumbnail no-decoration">
            <img src="/images/Advanced.svg"/>
          </div>
          <h3>Advanced</h3>
          <p>
            Ethereum incorporates the latest developments in peer-to-peer and cryptoeconomic technology, giving developers and users access to top-of-the-line guarantees of flexibility, accessibility and speed among technologies of its class. The underlying technologies continue to be in active development, and developers will gain access to new features as soon as we are comfortable that they will be ready for use.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 point-down light-grey">
        </div>
      </div>
    </div>
  </section>
</template>
