<template name="floatingNav">
  <nav id="floating-nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-container">
            <ul class="expand-state">
              <li>
                <a href="#technology-slides">Technology</a>
              </li>
              <li>
                <a href="#community">Community</a>
              </li>
              <li>
                <a href="#meetups">Meetups</a>
              </li>
              <li>
                <a href="#videos">Videos</a>
              </li>
              <li>
                <a href="#news">News</a>
              </li>
              <li>
                <a href="#projects">Projects</a>
              </li>
              <li>
                <a href="#wallpapers">Wallpapers</a>
              </li>
            </ul>
            <div class="collapse-state text-center">
              <span class="glyphicon glyphicon-menu-down"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
