<template name="footerCanary">
  <section id="footer-canary">
    <a data-toggle="popover" title="Canary" data-content="<p>Stiftung Ethereum has never been contacted any government agency anywhere in the world in a way which requires that contact not to be disclosed.</p><p>Stiftung Ethereum will publicly disclose any sort of inquiry from government agencies that falls outside the scope of regular business operations.</p>" data-trigger="hover" data-placement="top">
      <img src="/images/canary.svg"/>
    </a>
  </section>
</template>
