<template name="footer">
  <footer id="main-footer">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="link-list-container">
              <h4>About us</h4>
              <ul>
                <li><a href="/team">Founders</a></li>
                <li><a href="/#community">Community</a></li>
                <li><a href="/#technology-slides">Technology</a></li>
                <li><a href="/partnership">Partnership</a></li>
                <li><a href="/#videos">Latest videos</a></li>
                <li><a href="/company-structure">Company structure</a></li>
              </ul>
            </div>
            <div class="link-list-container">
              <h4>Ether</h4>
              <ul>
                <li><a href="/ether">What is ether</a></li>
                <li><a href="/ether#sale">Ether sale</a></li>
                <li><a href="/ether#purchase">Purchase ether</a></li>
                <li><a href="/ether#ether-checker">Check balance</a></li>
              </ul>
            </div>
            <div class="link-list-container">
              <h4>Foundation</h4>
              <ul>
                <li><a href="/foundation">About</a></li>
                <li><a href="/foundation#ccrg">CCRG</a></li>
                <li><a href="/foundation#collaborations">Collaborations</a></li>
              </ul>
            </div>
            <div class="link-list-container">
              <h4>Social</h4>
              <ul>
                <li><a href="/press">Press</a></li>
                <li><a href="/#meetups">Meetups</a></li>
                <li><a href="https://blog.ethereum.org">Blog</a></li>
                <li><a href="https://www.twitter.com/ethereumproject">Twitter</a></li>
                <li><a href="https://www.facebook.com/ethereumproject">Facebook</a></li>
                <li><a href="https://www.youtube.com/user/ethereumproject">YouTube</a></li>
                <li><a href="https://www.reddit.com/r/ethereum">Reddit</a></li>
              </ul>
            </div>
            <div class="link-list-container">
              <h4>Developers</h4>
              <ul>
                <li><a href="https://dev.ethereum.org">ETH/DEV</a></li>
                <li><a href="https://github.com/ethereum">Github</a></li>
                <li><a href="https://github.com/ethereum/cpp-ethereum/releases/tag/poc-8-tag">POC8</a></li>
                <li><a href="https://github.com/ethereum/wiki/wiki/JSON-RPC">JSON RPC</a></li>
                <li><a href="https://github.com/ethereum/wiki/wiki/JavaScript-API">JavaScript API</a></li>
                <li><a href="{{pathFor 'licensing'}}">Licensing</a></li>
              </ul>
            </div>
            <div class="link-list-container">
              <h4>Resources</h4>
              <ul>
                <li><a href="https://github.com/ethereum/wiki/wiki/White-Paper">White paper</a></li>
                <li><a href="http://gavwood.com/Paper.pdf">Yellow paper</a></li>
                <li><a href="/pdf/IntendedUseOfRevenue.pdf">Intended use of revenue</a></li>
                <li><a href="/pdf/TermsAndConditionsOfTheEthereumGenesisSale.pdf">Terms and conditions of sale</a></li>
                <li><a href="/pdf/EtherProductPurchaseAgreement.pdf">Ether product purchase agreement</a></li>
                <li><a href="/#wallpapers">Wallpapers</a></li>
              </ul>
            </div>
            <div class="pull-right hidden-sm right-section">
              <img class="logo" src="/images/ETHEREUM_NAV-BAR-LOGO.png"/>
              {{> mediaLinks }}
              {{> footerCanary }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 legal">
            <p>
              Ethereum Switzerland GmbH, EDV-Beratungsunternehmen und Softwarehäuser, Grienbachstrasse 55, 6340 Baar, Switzerland
            </p>
            <p class="copyright">
              Copyright © 2015 Ethereum. All Rights Reserved.
            </p>
            <div class="visible-sm">
              {{> footerCanary }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
