<template name="intro">
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>
            Most of the services you use today have something in common: they are centralized. For example, when you deposit money at your bank, you trust them to be honest, be secure and be independently audited. The same is true when you post pictures on Facebook, or an important document on Dropbox. History has proven time and time again that this model is flawed, but necessary, as ‘trustless’ operations have been so far both unprofitable and too complex to implement.
          </p>

          <p>
            Enter Ethereum.
          </p>

          <p>
            Applications built on Ethereum do not require their users to trust the developers with their personal information or funds. Ethereum not only addresses the issues described above, it also opens the door to whole new kinds of applications that have never been seen before.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
