<template name="mediaLinks">
  <ul id="media-links">
    <li>
      <a href="https://www.facebook.com/ethereumproject" target="_blank" title="Facebook"><i class="fa fa-facebook fa-2x news-icon"></i></a>
    </li>
    <li>
      <a href="https://www.twitter.com/ethereumproject" target="_blank" title="Twitter"><i class="fa fa-twitter fa-2x news-icon"></i></a>
    </li>
    <li>
      <a href="https://plus.google.com/+EthereumOrgOfficial/posts" target="_blank" title="Google Plus"><i class="fa fa-google-plus fa-2x news-icon"></i></a>
    </li>
    <li>
      <a href="https://vimeo.com/ethereumproject" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square fa-2x news-icon"></i></a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/ethereumproject" target="_blank" title="YouTube"><i class="fa fa-youtube-play fa-2x news-icon"></i></a>
    </li>
    <li>
      <a href="mailto:info@ethereum.org" target="_blank" title="Email"><i class="fa fa-envelope fa-2x news-icon-last"></i></a>
    </li>
  </ul>
</template>
