<template name="miningAlgorithm">
  <section id="mining-algorithm" class="section-flow red point-down at-page-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>The algorithm</h1>
          <p>
            Lorem ipsum dolor sit amet, ex adhuc consequat comprehensam cum. Mel in nemore salutatus gubergren. Ut dicunt nominati vis. Aeque percipit lucilius ut ius, id pri duis graecis lucilius. Duis solum ius cu, in pro tollit suavitate pertinacia.
          </p>
          <p>
            Mel liber philosophia id. Dicam deleniti vis cu, vix eros rebum ne. Nec impetus consectetuer et, quando liberavisse nec et. Solum detracto posidonium duo eu. At habeo aliquip labores vis. Pri no quot disputationi.
          </p>
          <p>
            Nam malorum complectitur at, diceret oportere ex usu, nec hendrerit similique ex. Pro ex agam aliquip dissentias, in sea movet labitur. Mollis inciderint ad vis, ne quodsi nostrud est. Mei ea commodo consequuntur, magna errem dissentiet his et. Ius in aeque assentior, ornatus invenire has et, et idque appetere usu.
          </p>
        </div>
        <div class="col-xs-6">
          <section class="section-flow light-grey subsection">
            <h1>Formal requirements</h1>
            <p>
              Lorem ipsum dolor sit amet, ex adhuc consequat comprehensam cum. Mel in nemore salutatus gubergren. Ut dicunt nominati vis. Aeque percipit lucilius ut ius, id pri duis graecis lucilius. Duis solum ius cu, in pro tollit suavitate pertinacia.
            </p>
            <p>
              Mel liber philosophia id. Dicam deleniti vis cu, vix eros rebum ne. Nec impetus consectetuer et, quando liberavisse nec et. Solum detracto posidonium duo eu. At habeo aliquip labores vis. Pri no quot disputationi.
            </p>
            <p>
              Nam malorum complectitur at, diceret oportere ex usu, nec hendrerit similique ex. Pro ex agam aliquip dissentias, in sea movet labitur. Mollis inciderint ad vis, ne quodsi nostrud est. Mei ea commodo consequuntur, magna errem dissentiet his et. Ius in aeque assentior, ornatus invenire has et, et idque appetere usu.
            </p>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>
