<template name="navbar">
  <nav id="navbar" class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{pathFor "home"}}">
                <img src="/images/ethereum-icon-inverted.svg"/>
              </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="{{activeForRoute "home"}}" href="{{pathFor "home"}}">Home</a>
              </li>
              <li>
                <a class="{{activeForRoute "community"}}" href="/#community">Community</a>
              </li>
              <li>
                <a class="{{activeForRoute "philosophy"}}" href="{{pathFor "philosophy"}}">Philosophy</a>
              </li>
              <li>
                <a class="{{activeForRoute "technology"}}" href="{{pathFor "technology"}}">Technology</a>
              </li>
              <li>
                <a class="{{activeForRoute "news"}}" href="{{pathFor "news"}}">News</a>
              </li>
              <li>
                <a class="{{activeForRoute "team"}}" href="{{pathFor "team"}}">Team</a>
              </li>
              {{#if isAdmin }}
                <li><a href="/admin">Admin</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
