<template name="navbar">
  <nav id="navbar" class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{pathFor "home"}}">
                <img src="/images/ethereum-icon-inverted.svg"/>
              </a>
              <a href="{{pathFor "home"}}" class="ethereum">ETHEREUM</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="{{isActiveRoute regex='home'}}" href="{{pathFor "home"}}">Home</a>
              </li>
              <li>
                <a class="{{isActiveRoute regex='philosophy'}}" href="{{pathFor "philosophy"}}">Philosophy</a>
              </li>
              <li>
                <a class="{{isActiveRoute regex='technology'}}" href="{{pathFor "technology"}}">Technology</a>
              </li>
              <li>
                <a class="{{isActiveRoute regex='news'}}" href="{{pathFor "news"}}">News</a>
              </li>
              <li>
                <a class="{{isActiveRoute regex='team'}}" href="{{pathFor "team"}}">Team</a>

              </li>
              {{#if isAdmin }}
                <li><a href="/admin">Admin</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
