<template name="news">
  <section id="news" class="section-flow light-grey">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 subsection-text">
          {{>blogPosts blogFeed}}
        </div>
        <div class="col-xs-4">
          <section id="news-tweets" class="section-flow purple">
            <h2>Twitter</h2>
            {{#each tweetsShort}}
              {{> tweetItem this}}
            {{/each}}
          </section>
        </div>
      </div>
    </div>
    <div class="container pointer">
      <div class="row">
        <div class="col-xs-4 point-down light-grey">
        </div>
      </div>
    </div>
  </section>
</template>
