<template name="news">
  <section id="news" class="section-flow">
    <div class="container">
      <div class="row">
        <div class="row-same-height">
          <section id="blog-posts" class="subsection subsection-left col-xs-8 col-xs-height">
            <h1>Blog</h1>
            {{>blogPosts blogFeed}}
          </section>


          <section id="news-tweets" class="col-xs-4 col-xs-height section-flow subsection subsection-right">
            <h1>Press</h1>
            {{#each press}}
              {{> pressItem this}}
            {{/each}}
          </section>
        </div>

      </div>
    </div>
    <div class="container pointer">
      <div class="row">
        <div class="col-xs-4 point-down">
        </div>
      </div>
    </div>
  </section>
</template>
