<template name="opener">
  <section id="opener">
    <div class="container">
      <h2>Privacy, transparency, decentralisation</h2>
    </div>
    <video class="vid" poster="/images/ETHEREUM_1080.svg" autoplay muted preload autobuffer>
      <source src="/videos/WEBSITE_ANIMATION_4_1080.webm" type="video/webm"/>
      <source src="/videos/WEBSITE_ANIMATION_4_1080.mp4" type="video/mp4"/>
      <source src="/videos/WEBSITE_ANIMATION_4_1080.ogv" type="video/ogg"/>
    </video>
    <div class="container links-container">
      <div class="row">
        <div class="col-xs-12">
          <div class="left-container">
            <a href="https://ethdev.com">
              <img class="ethdev-logo" src="/images/ethdev-logo.svg"/>
            </a>
          </div>
          <div class="center-container">
            <a class="scrolldown">
              <span class="glyphicon glyphicon-menu-down"></span>
            </a>
          </div>
          <div class="right-container">
            <div class="btn-group clearfix">
              <a class="btn btn-eth btn-block btn-lg dropdown-toggle" data-toggle="dropdown">
                Documents <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="https://www.ethereum.org/pdfs/EthereumWhitePaper.pdf">
                    White paper
                  </a>
                </li>
                <li>
                  <a class="yellowpaper" href="http://gavwood.com/Paper.pdf">
                    Yellow paper
                  </a>
                </li>
              </ul>
            </div>
            <a href="https://github.com/ethereum" target="_blank" class="btn btn-eth btn-block btn-lg">
              GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
