<template name="opener">
  <section id="opener">
    <div class="container">
      <div class="row">
        <div class="col-md-12 opener-inner">
          <h1 class="page-header text-center">Ethereum</h1>
          <div class="btn-container">
            <button class="btn btn-eth btn-block btn-lg">
              Learn more
            </button>
            <button class="btn btn-eth btn-block btn-lg">
              Download PoC7
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
