<template name="opener">
  <section id="opener" class="section-flow dark-blue">
    <div class="logo">
      <img src="/images/ethereum_logo_PC.svg"/>
    </div>
    <h2 class="tagline">
      <ul>
        <li class="active">Privacy transparency decentralisation</li>
        <li>Smart shibes dogether for a better dogever</li>
        <li>We love magic internet money!</li>
        <li>Liberty equality singularity</li>
        <li>So, the thing about Ethereum...</li>
        <li>Oh joy. More disruption.</li>
      </ul>
    </h2>
    <section id="call-to-action">
      {{> callToAction }}
    </section>      
  </section>
</template>
