<template name="philosophySlideHeadline">
  <h2>
    <ul class="slide-controls">
      <li>
        <a class="slide-control left">
          <span class="prev">
            {{prev}}
          </span>
          &lsaquo;
        </a>
      </li>
      <li>
        <span class="current">
          {{title}}
        </span>
      </li>
      <li>
        <a class="slide-control right">
          &rsaquo;
          <span class="next">
            {{next}}
          </span>
        </a>
      </li>
    </ul>
  </h2>
</template>

<template name="philosophyBackground">
  <div class="background-container">
    <img src="{{src}}" class="bg-img"/>
  </div>
</template>

<template name="simplicityBackground">
  {{>philosophyBackground src="/images/Simplicity.jpg"}}
</template>
<template name="universalityBackground">
  {{>philosophyBackground src="/images/Universality.jpg"}}
</template>
<template name="modularityBackground">
  {{>philosophyBackground src="/images/Modularity.jpg"}}
</template>
<template name="nonDiscriminationBackground">
  {{>philosophyBackground src="/images/Non-Discrimination.jpg"}}
</template>

<template name="simplicityContent">
  <p>
    Ethereum is a protocol that is open to all. Any programmer should be able to write smart contracts and Ethereum ÐApps in languages they already are familiar with like C, Javascript or Python.
    Programmers should also be able to implement the entire specification with relative ease, in order to minimize the influence that any specific individual or group could have on the protocol.
    The Ethereum protocol should be as simple as possible, and optimizations which add complexity should not be included unless they provide a very substantial benefit.
    Partnered with the <a href="https://github.com/ethereum/wiki/wiki/Whisper-Overview">Whisper</a> and <a href="https://github.com/ethereum/cpp-ethereum/wiki/Swarm">Swarm</a> protocols, Ethereum lays the foundations for a P2P Web 3.0.
  </p>
</template>

<template name="universalityContent">
  <p>
    Ethereum does not have "features". Instead, Ethereum provides scripting languages which you can use to construct any program you can think on top of a distributed P2P network. This has implications going far beyond finance and smart contracts. Imagine what sort of problems could be solved if software was executed in a P2P network, was always auditable, and always trustable. This opens the door to the development of voting machines, health care systems, traffic navigation, land registry etc. where users stay in control of their funds and personal information at all times, as part of a network that's both censorship and collusion-proof.
  </p>
</template>
<template name="modularityContent">
  <p>
    Different elements of the Ethereum protocol should be designed to be as modular and autonomous as possible. During the course of development and up to the release of the genesis block, it should be easy to make small modifications to the protocol in one place and have the entire stack continue to function as normal.

    Innovations such as our <a href="https://github.com/ethereum/wiki/wiki/Dagger-Hashimoto">Proof of Work algorithm</a>, <a href="https://github.com/ethereum/wiki/wiki/Patricia-Tree">Patricia Trees</a> and <a href="https://blog.ethereum.org/2014/07/11/toward-a-12-second-block-time/">12 second block time</a> are implemented as separate libraries and made feature-complete even if Ethereum does not require their entire feature set, this makes it easy for any project looking to utilise Ethereum’s open source technology to do so.

    The development of Ethereum should benefit the entire cryptocurrency ecosystem.
  </p>
</template>
<template name="nonDiscriminationContent">
  <p>
    The protocol should not attempt to actively restrict or prevent specific categories of usage. The regulatory mechanisms in the protocol should only be designed to regulate harm, not attempt to oppose specific undesirable applications. For example, you should be able to run an infinite loop on top of Ethereum for as long as you are willing to keep paying the per computational step fee for it.
  </p>
</template>

<template name="philosophySlides">
  {{#with slide}}
    <section id="philosophy-slides">
      <div class="container">
        <h1>Philosophy</h1>
      </div>
      <div class="philosophy-background non-breaking">
        {{#momentum plugin="slide-fade"}}
          {{> UI.dynamic template=background}}
        {{/momentum}}
      </div>
      <div class="container">
        <div class="row slide-content">
          <div class="col-xs-12">
            {{> Template.dynamic template="philosophySlideHeadline"}}

            <div class="content-container">
              {{#momentum plugin="slide-fade" delay=100}}
                {{> UI.dynamic template=content}}
              {{/momentum}}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/with}}
</template>
