<template name="previousMeetups">
  <div class="row" id="previous-meetups">
    <div class="col-xs-3">
      <a href="https://www.meetup.com/Melbourne-Ethereum-Meetup" class="thumbnail">
        <img  src="/images/Meetups/MELBOURNE.jpg">
        <span>MELBOURNE</span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="http://www.meetup.com/ethereumtoronto" class="thumbnail">
        <img  src="/images/Meetups/TORONTO.jpg">
        <span>TORONTO</span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="http://www.meetup.com/ethereum/" class="thumbnail">
        <img  src="/images/Meetups/LONDON.jpg">
        <span>LONDON</span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="http://www.meetup.com/EthereumSiliconValley" class="thumbnail">
        <img  src="/images/Meetups/TOKYO.jpg">
        <span>TOKYO</span>
      </a>
    </div>
  </div>
</template>
