<template name="previousMeetups">
  <div class="row" id="previous-meetups">
    <div class="col-xs-3">
      <a href="https://www.meetup.com/Melbourne-Ethereum-Meetup" class="thumbnail">
        <img  src="/images/melbourne.jpeg">
        <span>MELBOURNE</span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="http://www.meetup.com/ethereumtoronto" class="thumbnail">
        <img  src="/images/toronto.jpeg">
        <span>TORONTO</span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="http://www.meetup.com/ethereum" class="thumbnail">
        <img  src="/images/london.jpeg">
        <span>LONDON</span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="www.meetup.com/Ethereum-Tokyo-Meetup" class="thumbnail">
        <img  src="/images/tokyo.jpeg">
        <span>TOKYO</span>
      </a>
    </div>
  </div>
</template>
