<template name="previousMeetups">
  <section id="previous-meetups">
  	<div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12 text-center">
        	<div class="meetup-img"><a href="http://www.meetup.com/Melbourne-Ethereum-Meetup"><img src="http://photos3.meetupstatic.com/photos/event/d/e/a/a/global_345657002.jpeg"></a><span>MELBOURNE</span></div>
          <div class="meetup-img"><a href="http://www.meetup.com/ethereumtoronto"><img src="http://photos3.meetupstatic.com/photos/event/c/3/0/2/global_355429922.jpeg"></a><span>TORONTO</span></div>
          <div class="meetup-img"><a href="http://www.meetup.com/ethereum/"><img src="http://photos1.meetupstatic.com/photos/event/7/2/4/6/global_433229254.jpeg"></a><span>LONDON</span></div>
          <div class="meetup-img"><a href="http://www.meetup.com/EthereumSiliconValley"><img src="http://photos1.meetupstatic.com/photos/event/2/e/6/highres_340980742.jpeg"></a><span>MOUNTAIN VIEW</span></div>
          <div class="meetup-img"><a href="http://www.meetup.com/Ethereum-Tokyo-Meetup"><img src="http://photos2.meetupstatic.com/photos/event/c/7/1/c/global_347510972.jpeg"></a><span>TOKYO</span></div>
        	<a href="https://forum.ethereum.org/discussion/797/list-of-ethereum-specific-meetups-live-updates" type="button" class="btn btn-primary btn-meetup-img" >MORE</a>
        </div>
      </div>
    </div>
  </section>
</template>