<template name="projects">
  <section id="projects" class="section-flow point-down dark-blue">
    <div class="container">
      <h1>Projects using Ethereum</h1>
      <div class="row">
        <div class="col-md-12">
          <section >
          </section>

          <table class="sparse-bordered">
            {{#each projectGroups }}
              <tr>
                {{#each this}}
                  <td>
                    <a href="{{link}}">
                      <div class="thumbnail">
                        <img class="{{#if largeImage}}smaller{{/if}}" src="{{logo}}"/>
                      </div>
                      <p>
                        {{description}}
                      </p>
                      <p>
                        {{link}}
                      </p>
                    </a>
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </section>
</template>
