<template name="quickStart">
  <section id="quick-start">
    <a name="quick-start"></a>
  	<div class="container">
      <div class="row button-container">
      	<div class="col-md-12">
      		<h2>Quick Start</h2>
        </div>
        <div class="col-md-4 left">
  			<a href="{{pathFor "technology"}}" class="btn btn-large">ETHEREUM 101</a>
  		</div>
  		<div class="col-md-4 center text-center">
  			<a href="https://forum.ethereum.org/categories/education" class="btn btn-large">TUTORIALS</a>
  		</div>
  		<div class="col-md-4 right">
  			<a href="https://www.youtube.com/user/ethereumproject" class="btn btn-large">
          VIDEOS
        </a>
	  	</div>
	  </div>
	</div>
  </section>
</template>
