<template name="quickStart">
  <section id="quick-start">
    <a name="quick-start"></a>
  	<div class="container">
      <div class="row button-container">
      	<div class="col-md-12">
      		<h2>QUICK START</h2>
        </div>
        <div class="col-md-4 left">
  			<input type="button" class="btn btn-large" value="ETHEREUM 101">
  		</div>
  		<div class="col-md-4 center text-center">
  			<input type="button" class="btn btn-large" value="TUTORIALS">
  		</div>
  		<div class="col-md-4 right">
  			<a href="https://www.youtube.com/user/ethereumproject" class="btn btn-large">
          VIDEOS
        </a>
	  	</div>
	  </div>
	</div>
  </section>
</template>
