<template name="slideLayout">
  <div class="philosophy-background non-breaking">
    {{#momentum plugin="slide-fade"}}
      {{> UI.dynamic template=background}}
    {{/momentum}}
  </div>
  <div class="container">
    <div class="row slide-content">
      <div class="col-xs-12">
        {{> Template.dynamic template="slideControls"}}

        <div class="content-container">
          {{#momentum plugin="slide-fade" delay=100}}
            {{> UI.dynamic template=content}}
          {{/momentum}}
        </div>
      </div>
    </div>
  </div>
</template>

