<template name="slideControls">
  <h2>
    <ul class="slide-controls">
      <li>
        <a class="slide-control left">
          <span class="prev">
            {{prev}}
          </span>
          &lsaquo;
        </a>
      </li>
      <li>
        <span class="current">
          {{title}}
        </span>
      </li>
      <li>
        <a class="slide-control right">
          &rsaquo;
          <span class="next">
            {{next}}
          </span>
        </a>
      </li>
    </ul>
  </h2>
</template>
