<template name="teamProfiles">
  <ul id="team-profiles">
    <li>
      <img src="/profiles/Vitalik.jpg"/>
      <p class="name">
        Vitalik Buterin
      </p>
    </li>
    <li>
      <img src="/profiles/GAV.jpg"/>
      <p class="name">
        Dr. Gavin Wood
      </p>
    </li>
    <li>
      <img src="/profiles/Jeffrey.jpg"/>
      <p class="name">
        Jeffrey Wilcke
      </p>
    </li>
    <li>
      <img src="/profiles/stephan_3.jpg"/>
      <p class="name">
        Stephan Tual
      </p>
    </li>
    <li>
      <img src="/profiles/taylor.jpg"/>
      <p class="name">
        Taylor Gerring
      </p>
    </li>
    <li>
      <img src="/profiles/JOSEPH-LUBIN_BW.jpg"/>
      <p class="name">
        Joseph Lubin
      </p>
    </li>
    <li>
      <img src="/profiles/Anthony-Di-Iorio.jpg"/>
      <p class="name">
        Anthony Di Iorio
      </p>
    </li>
    <li>
      <img src="/profiles/Mihai.jpg"/>
      <p class="name">
        Mihai Alisie
      </p>
    </li>
  </ul>
</template>
