<template name="technologySlides">
  <section id="technology-slides" class="section-flow light-grey">
    <div class="container main"> 
      <h1>Technology</h1>
      <div id="tech-carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#tech-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#tech-carousel" data-slide-to="1"></li>
          <li data-target="#tech-carousel" data-slide-to="2"></li>
          <li data-target="#tech-carousel" data-slide-to="3"></li>
          <li data-target="#tech-carousel" data-slide-to="4"></li>
          <li data-target="#tech-carousel" data-slide-to="5"></li>
          <li data-target="#tech-carousel" data-slide-to="6"></li>
          <li data-target="#tech-carousel" data-slide-to="7"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="slide-illustration">
              <img src="/images/tech_1.png"/>
            </div>
            <p>
              Ethereum is a platform that makes it possible for any developer to build and publish next-generation distributed applications.
            </p>
          </div>
          <div class="item">
            <div class="slide-illustration">
              <img src="/images/tech_2.png"/>
            </div>
            <p>
              Ether, Ethereum's cryptofuel, powers the applications on the decentralized network.
            </p>
          </div>
          <div class="item">
            <div class="slide-illustration">
              <img src="/images/tech_computation.png">
            </div>
            <p>A small amount of ether is required in order to send any transaction, and the more computation a transaction requires the more ether it consumes.</p>
          </div>
          <div class="item">
            <div class="slide-illustration">
              <img src="/images/tech_3.png"/>
            </div>
            <p>
              Contracts are the main building blocks of Ethereum.
            </p>
          </div>
          <div class="item">
            <div class="slide-illustration">
              <img src="/images/tech_4.png"/>
            </div>
            <p>
              Sending a transaction to a contract causes its code to execute. Contracts can store data, send transactions and interact with other contracts.
            </p>
          </div>
          <div class="item">
            <div class="slide-illustration">
              <img src="/images/tech_complex.png">
            </div>
            <p>
              Contracts can be used to build currencies, financial derivatives, voting systems, decentralized organizations, data feeds, title registries and thousands of other applications.
            </p>
          </div>
          <div class="item">
            <div class="slide-illustration">
              <img src="/images/tech_browser.png" class="tech_browser">
            </div>
            <p>
              Mist, the Ethereum client, is your window to the decentralized world. Decentralized applications built for Ethereum can be used inside of Mist, and look and feel just like any other web application would.
            </p>
          </div>
          <div class="item">
            <div class="slide-illustration">
              <img src="/images/tech_5.png" class="tech_5">
            </div>
            <p>
              Ethereum can be used to codify, decentralize, secure and trade almost anything.
            </p>
          </div>
        </div>
      </div>
      <div class="row sdcarousel"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 point-down light-grey">
        </div>
      </div>
    </div>
  </section>
</template>
