<template name="video">
  <div class="col-xs-4 img-col">
    <a href="{{url}}" class="thumbnail video" data-id="{{_id}}">
      <img src="{{thumbnails.medium.url}}"/>
      <span class="title">{{description}}</span>
    </a>
  </div>
</template>

<template name="videos">
  <section id="videos" class="section-flow dark-blue">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 subsection-text">
          <h1>Latest videos</h1>
          <p>
            Check out more of our videos on the <a href="https://youtube.com/user/ethereumproject">official Ethereum YouTube channel</a>
          </p>
        </div>
        <div class="col-xs-8">
          <div class="row-fluid">
            {{#each youtubeVideos}}
              {{> video }}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="container pointer">
      <div class="row">
        <div class="col-xs-4 point-down dark-blue">
        </div>
      </div>
    </div>
  </section>
</template>
