<template name="wallpapers">
  <section id="wallpapers" class="section-flow light-grey point-down">
    <div class="container">
      <h1>Wallpapers</h1>
      <div class="row">
        <div class="col-xs-2">
          <a href="/images/wallpapers/Ethereum_WALL_1.png" download="ethereum-text.jpg" class="thumbnail">
            <img src="/images/wallpapers/Ethereum_WALL_1_THUMB.png"/>
          </a>
        </div>
        <div class="col-xs-2">
          <a href="/images/wallpapers/Ethereum_WALL_2.png" download="ethereum-icon.jpg" class="thumbnail">
            <img src="/images/wallpapers/Ethereum_WALL_2_THUMB.png"/>
          </a>
        </div>
        <div class="col-xs-2">
          <a href="/images/wallpapers/Ethereum_WALL_3.png" download="ethereum-icon-and-text_landscape.jpg" class="thumbnail">
            <img src="/images/wallpapers/Ethereum_WALL_3_THUMB.png"/>
          </a>
        </div>
        <div class="col-xs-2">
          <a href="/images/wallpapers/Ethereum_WALL_4.png" download="ethereum-text.jpg" class="thumbnail">
            <img src="/images/wallpapers/Ethereum_WALL_4_THUMB.png"/>
          </a>
        </div>
        <div class="col-xs-2">
          <a href="/images/wallpapers/Ethereum_WALL_5.png" download="ethereum-icon.jpg" class="thumbnail">
            <img src="/images/wallpapers/Ethereum_WALL_5_THUMB.png"/>
          </a>
        </div>
        <div class="col-xs-2">
          <a href="/images/wallpapers/Ethereum_WALL_6.png" download="ethereum-icon-and-text_landscape.jpg" class="thumbnail">
            <img src="/images/wallpapers/Ethereum_WALL_6_THUMB.png"/>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
