<template name="wallpapers">
  <section id="wallpapers" class="section-flow  point-down">
    <div class="container">
      <h1>Wallpapers</h1>
      <div class="row">
        <div class="col-xs-4">
          <a href="/images/wallpapers/ethereum-text.jpg" download="ethereum-text.jpg" class="thumbnail">
            <img src="/images/wallpapers/ethereum-text_thumbnail.jpg"/>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="/images/wallpapers/ethereum-icon.jpg" download="ethereum-icon.jpg" class="thumbnail">
            <img src="/images/wallpapers/ethereum_icon_thumbnail.jpg"/>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="/images/wallpapers/ethereum-icon-and-text_landscape.jpg" download="ethereum-icon-and-text_landscape.jpg" class="thumbnail">
            <img src="/images/wallpapers/ethereum_icon_and_text_thumbnail.jpg"/>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
