@import "lib/colors.less";
@import "lib/gradients.less";


body{
  font-family: 'Roboto-Light', sans-serif;
  color: @normal-color;
  margin-bottom: 60px;
}


#ethereum-org{
  min-width: 980px;

  * {
    outline: 0;
  }

  .text-highlight{
    color: @dark-color;
  }
  .text-subtle{
    color: @light-color;
    font-size: 12px;
  }
  a {
    color: @infusion-color;
    &:hover {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    &:focus{
      text-decoration: none;
    }
  }
  .page{
    padding: 90px 0 30px;
    overflow: hidden;
  }
  .btn{
    border-radius: 0;
    border: 0;
  }
  .btn-small{
    height:30px;
    padding:5px 15px !important;
    margin-top:-3px;
    font-size:11px;
    border-radius:3px;
  }
  .btn-primary{
    background-color: @infusion-dark-color;
  }
  input[type=text],input[type=password]{
    border:1px solid #ddd;
    padding:5px;
  }
  .well{
    border-radius: 0;
  }
  h1, h2, h3{
    color: @infusion-color;
    border:0;
  }
  h1, h2, p{
    margin-bottom: 40px;
  }
  .btn {
    text-transform: uppercase;
  }
  .thumbnail{
    border-radius: 0;
    &.video {
      border: 0;
    }
  }
  .video .title{
    font-size: 12px;
  }

  .btn-danger{
    color: #fff;
    &:hover{
      color: #fff;
      
    }
  }
  .btn-eth{
    color: #fff;
    .btn-gradient;
    transition: background 1s ease-out;
    -webkit-transition: background 1s ease-out;
    &:hover{
      .btn-gradient-dark;
      color: #fff;
    }
  }
  .btn-default{
    border: 1px solid @light-color;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
    }
  } 
  .btn-lg{
    font-size: 14px;
    padding:12px;
  }
  strong{
    font-family: Roboto-Medium;
  }
}

#ethereum-org, .ethereum-modal{
  .modal-content{
    border-radius: 0;
    border:0;
  }
  .modal-header{
    border:0;
    background-color: #000;
    color: #fff;
    font-family: Roboto-Thin;
    font-size:18px;
  }
  .modal-body{
    p{
      margin: 0 0 10px 0;
      &:first-of-type{
        margin-top: 10px;
      }
      &.secondary{
        font-size: 12px;
        color: @light-color;
      }
    }
  }
  .modal-footer{
    padding: 10px;
    border-top: 1px solid @light-color;
  }
  iframe{
    border-radius: 0 !important;
  }
  .close{
    margin-top:0;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 24px;
  }
}
section{
  margin: 30px 0 60px;
}
.thefuckisthis{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 17px;
  text-align: center;
  color: @infusion-color;
  border-radius: 10px;
  border: 1px solid @light-color;
  cursor: pointer;
}
.popover{
  border-radius:0;
  border-color: #000;
  font-family: 'Roboto-Light', sans-serif;
  padding: 0;
  background-color: rgba(255,255,255,1);
  .popover-title{
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 0;
    border: 0;
  }
  .arrow{
    border-right-color: #000 !important;
  }
}

.container{
  .right-dl{
    border-right: 1px solid @light-color;
  }
  .left-dl{
    border-left: 1px solid @light-color;
    margin-left: -1px;
  }
}

.page-p{
  color:#898989 !important;
  font-size:13pt;
  line-height: 200%;
  text-align: justify;
  clear:both;
}

table.sparse-bordered{
  table-layout: fixed;
  width: 100%;
  tr{
    &:not(:last-of-type){
      border-bottom: 1px solid @border-light;
    }
    td{
      padding: 15px;
      &:not(:last-of-type){
        border-right: 1px solid @border-light;
      }
    }
  }
}
