@import "lib/colors.less";

body{
  font-family: 'Roboto-Light', sans-serif;
  color: @normal-color;
  margin-bottom: 60px;
}


#ethereum-org{
  min-width: 980px;

  * {
    outline: 0;
  }

  a {
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
    &:focus{
      text-decoration: none;
    }
  }
  .page{
    padding: 90px 0 30px;
    overflow: hidden;
  }
  .btn{
    border-radius: 0;
    border: 0;
  }
  .btn-small{
    height:30px;
    padding:5px 15px !important;
    margin-top:-3px;
    font-size:11px;
    border-radius:3px;
  }
  input[type=text],input[type=password]{
    border:1px solid #ddd;
    padding:5px;
  }
  .well{
    border-radius: 0;
  }
  h1{
    font-size: 26px;
  }
  h1, h2, h3{
    border:0;
  }
  h2, p{
    margin-bottom: 30px;
  }
  .btn {
    text-transform: uppercase;
  }
  .thumbnail{
    border-radius: 0;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
    }
  } 
  .btn-lg{
    font-size: 14px;
    padding:12px;
  }
  strong{
    font-family: Roboto-Medium;
  }
  .img-col{
    padding: 0;
  }
  color: #fff;
}

#ethereum-org, .ethereum-modal{
  .modal-content{
    border-radius: 0;
    border:0;
  }
  .modal-header{
    border:0;
    background-color: @bg-blue;
    color: #fff;
    font-family: Roboto-Thin;
    font-size:18px;
  }
  .modal-body{
    background-color: @bg-blue;
    p{
      margin: 0 0 10px 0;
      &:first-of-type{
        margin-top: 10px;
      }
      &.secondary{
        font-size: 12px;
        color: @light-color;
      }
    }
  }
  .modal-footer{
    padding: 10px;
    border-top: 1px solid @light-color;
  }
  iframe{
    border-radius: 0 !important;
  }
  .close{
    margin-top:0;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 24px;
  }
  
}
section{
  h1{
    padding: 80px 0;
    margin: 0;
  }
  &.section-flow{
    margin: 0;
    padding: 0 0;
    .subsection{
      padding: 0 20px 80px;
    }
  }
  &.dark-blue{
    background-color: @bg-dark-blue;
  }
  &.red{
    background-color: @bg-red;
  }
  &.blue{
    background-color: @bg-blue;
  }
  &.light-grey{
    background-color: @bg-light-grey;
  }
  &.dark-grey{
    background-color: @bg-dark-grey;
  }
  &.purple{
    background-color: @bg-purple;
  }
  .pointer{
    margin-top: -1px;
  }
}
#ethereum-org{
  section.section-flow{
    /*copy colors*/
    &.light-grey{
      color: #333;
      h1, h2, p{
        color: #333;
      }
    }
    
    &.dark-blue, &.blue, &.dark-grey, &.red{
      color: #fff;
      h1, h2, p{
        color: #fff;
      }
    }
    
    &.purple{
      color: #fff;
      h1, h2, p{
        color: #fff;
      }
      strong{
        color: #000;
      }
    }
    
    /*link colors*/

    &.dark-blue, &.blue, &.dark-grey{
      a{
        color: #ccc;
        &:hover{
          color: @text-purple;
        }
      }
    }
    
    &.red,&.purple{
      a{
        color: #000;
        &:hover{
          color: @text-blue;
        } 
        &.no-highlight{
          color: #fff;
        }
      }
    }

    &.light-grey{
      a{
        color: @text-blue;
        &:hover{
          color: @text-purple;
        } 
      }
    }
  }

  section.section-flow{
    table.multicolored{
      tr:nth-child(odd){
        td:nth-child(3n+1){
          background-color: @bg-light-grey;
          p{
            color: #333;
          }
        }
        td:nth-child(3n+2){
          background-color: @bg-red;
        }
        td:nth-child(3n+3){
          background-color: @bg-dark-grey;
        }
      }
      tr:nth-child(even){
        td:nth-child(3n+1){
          background-color: @bg-dark-blue;
        }
        td:nth-child(3n+2){
          background-color: @bg-blue;
        }
        td:nth-child(3n+3){
          background-color: @bg-purple;
        }
      }
    }
  }
}
.point-down{
  position: relative;
  &.section-flow{
    padding-bottom: 80px;
  }
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-left: -30px;
    z-index: 10;
  }
  &.dark-blue:after{
    border-top-color: @bg-dark-blue;
  }
  &.red:after{
    border-top-color: @bg-red;
  }
  &.blue:after{
    border-top-color: @bg-blue;
  }
  &.light-grey:after{
    border-top-color: @bg-light-grey;
  }
  &.dark-grey:after{
    border-top-color: @bg-dark-grey;
  }
  &.purple:after{
    border-top-color: @bg-purple;
  }

}
.popover{
  border-radius:0;
  border-color: #000;
  font-family: 'Roboto-Light', sans-serif;
  padding: 0;
  background-color: rgba(255,255,255,1);
  .popover-title{
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 0;
    border: 0;
  }
  .arrow{
    border-right-color: #000 !important;
  }
}

table.multicolored{
  table-layout: fixed;
  width: 100%;
  td{
    padding: 15px;
  }
}

table.sparse-bordered{
  table-layout: fixed;
  width: 100%;
  tr{
    &:not(:last-of-type){
      border-bottom: 1px solid @border-light;
    }
    td{
      padding: 15px;
      &:not(:last-of-type){
        border-right: 1px solid @border-light;
      }
    }
  }
}

#YouTubeModalDialog{
  width: 640px !important;
  iframe{
    margin: 0 !important;
  }
  .modal-body{
    padding-bottom: 12px !important;
  }
}