@import "lib/colors.less";
@import "lib/elements.less";

#call-to-action{
  margin-top:0;
  padding: 60px 20px 20px;

  height: 270px;
  .btn-cta{
    display: block;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    background-color: transparent;
    .transition(background-color, 0.5s);
    span{
      color: #fff;
    }
    &:hover{
      color: #fff;
      background-color: @bg-dark-blue;
    }
    .title{
      display: block;
      font-size: 18px;
      margin-bottom: 15px;
    }
    p, .title{
      text-align: center
    }
    p{
      font-size: 12px;
    }
  }
}