#ether-checker{
  background:#efefef url(images/etherbar.png);
  height:95px;
  padding-top:10px;
  margin-top:0;

  .ether-purchased{
  	font-size:32px;
  	span{
  		font-size:20px;
  		padding-left:5px;
  		color:#666;
  	}
  }

  .popup-ether{
    margin-left: 15px;
    background:white;
    display:inline-block;
    border-radius:10px;
    width:20px;
    height:20px;
    text-align:center;
    cursor:pointer;
  }


  .ether-input{
  	padding-top:12px;
  }

  .important{
    font-size: 32px;
  }
  .check-balance{
    input{
      vertical-align: middle;
    }
  }

}
               