#features{
  padding-bottom: 0;
  h3, p{
    color: #fff;
    text-align: center;
  }
  h3{
    font-size: 18px;
  }
  .icon{
    display: block;
    text-align: center;
    img{
      height: 150px;
    }
  }
  .pointer{
    margin-top: 20px;
  }
}