@font-face{
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "Roboto-Thin";
  src: url("fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face{
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
}
@font-face{
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face{
  font-family: "Signika-Regular";
  src: url("fonts/Signika-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "Signika-Light";
  src: url("fonts/Signika-Light.ttf") format("truetype");
}
@font-face{
  font-family: "Signika-Semibold";
  src: url("fonts/Signika-Semibold.ttf") format("truetype");
}
@font-face{
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
}