@import "lib/colors.less";

html {
  position: relative;
  min-height: 100%;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top:30px;
}
.footer-inner{
  border-top: 1px solid @light-color;
}
.footer-text{
  color: @normal-color;
  padding: 20px;
  margin:0;
}




