@import "lib/colors.less";

#media-links{
  padding-top: 80px;
  ul{
    text-align: center;
    margin-bottom: 60px;
  }

  li{
    display: inline;
    &:not(:last-of-type){
      padding-right: 10px;
    }
  }
}