@import "lib/colors.less";

#navbar{
  background-color: #000;
  border-color: #000;
  border-radius: 0;
  color: #fff;
  font-family: 'Roboto-Thin', sans-serif;
  font-size: 13px;
  height:60px;
  a {
    padding: 20px 10px 0 10px;
    color: #fff;
    background-color: #000;
    &:hover, &.active{
      color: @infusion-light-color;
    }
    &.ethereum{
      font-size:14pt;
      padding:15px 0 0 0;
    }
  }
  .navbar-header {
    width:180px;
    a{
     float:left;
    }
  }


  .navbar-brand{
    float:left;
    padding: 0;
    color:white;
    img{
      height: 50px;
      width: 50px;
      margin-top:3px;
    }
  }

}
