@import "lib/colors.less";

#navbar{
  background-color: #000;
  border-color: #000;
  border-radius: 0;
  color: #fff;
  font-family: 'Roboto-Thin', sans-serif;
  font-size: 13px;
  a {
    padding: 15px 10px;
    color: #fff;
    background-color: #000;
    &:hover, &.active{
      color: @infusion-light-color;
    }
  }

  .navbar-brand{
    padding: 0;
    img{
      height: 50px;
      width: 50px;
    }
  }

}
