@import "lib/gradients.less";
@import "lib/colors.less";

#opener{
  .light-grey-gradient;

  border-bottom: 1px solid @light-color;
  .opener-inner{
    position: relative;
    height: 450px;
  }
  
  .btn-container{
    position: absolute;
    right: 0px;
    bottom: 40px;
    width: 200px;
    .btn{
      margin: 0;
      &:not(:last-of-type){
        margin-bottom: 20px;  
      }
    }
  }

  h1.page-header{
    font-size: 140px;
    margin: 110px 0 20px;
    color: #000;
    text-transform: uppercase;
  }
}