#philosophy-page{

	p{
		color:#898989 !important;
		font-size:13pt;
		line-height: 200%;
		text-align: justify;
		clear:both;
	}

	h2{
		height:40px;
		width:100%;
		display:block;
	}
	.img-left{
		h2{
			text-align:right;
		}
		p{
			img{
				max-width:45%;
				float:left;
				padding-right:5%;
			}
		}
	}

	.img-right{
		h2{
			text-align:left;

		}
		p{
			img{
				max-width:45%;
				float:right;
				padding-left:5%;
			}

		}
	}

}