#philosophy-page{
	h2{
		height:40px;
		width:100%;
		display:block;
	}
	.img-left{
		span{
				width:55%;
				display:inline-block;
		}
		h2{
			text-align:right;
		}
		p{
			img{
				max-width:45%;
				float:left;
				padding-right:5%;
				padding-bottom:30px;
				&.simplicity{
					padding-top:7%;
					padding-bottom:150px;
				}
			}
		}
	}
	.img-right{
		h2{
			text-align:left;

		}
		p{
			img{
				max-width:45%;
				float:right;
				padding-left:5%;
			}
			.universality{
				padding:0 0 50px 50px;
			}
		}
	}
}