#previous-meetups{
  padding-bottom:50px;
  .img-col{
    padding: 0;
  }

  .thumbnail{
    border: 0;
    padding: 0;
    position: relative;
    margin:0;
    span{
      z-index:100;
      position:absolute;
      top:50%;
      margin-top: -15px;
      width:100%;
      display:block;
      text-align:center;
      background:black;
      color:white;
      height:30px;
      line-height:30px;
      opacity:0;
      pointer-events: none;
    }
    img{
      z-index:50;
    }
    &:hover span{
      opacity:100;
    }
  }
}