#previous-meetups{
  padding-bottom:50px; 

  .thumbnail{
    border: 0;
    position: relative;
    span{
      z-index:100;
      position:absolute;
      top:50%;
      margin-top: -15px;
      width:97%;
      display:block;
      text-align:center;
      background:black;
      color:white;
      height:30px;
      line-height:30px;
      opacity:0;
      pointer-events: none;
    }
    img{
      width:115%;
      z-index:50;
      border:1px solid #fafafa;
    }
    &:hover span{
      opacity:100;
    }
  }
}