@import "lib/colors.less";
@import "lib/media.less";

#projects{
  .thumbnail{
    border: 0;
    height: 130px;
    background-color: transparent;
    margin-bottom: 0;
    img{
      max-height: 100px;
      &.smaller{
        max-height: 70px;
        margin-top: 15px;
      }
    }
  }

  p{
    font-size: 12px;
    text-align: center;
    &:not(:last-of-type){
      margin-bottom: 15px;
    }
  }

  p{
    margin-bottom: 0;
  }

  table td{
    vertical-align: top;
  }

  td{
    height: 316px;
    padding-top: 50px;
  }

  @media(min-width: @sm-min){
    td{
      padding-top: 10px;
      height: 210px;
    }
  }
  @media(min-width: @md-min){
    td{
      height: 284px;
      padding-top: 40px;
    }
  }
  @media(min-width: @lg-min){
    td{
      height: 350px;
      padding-top: 80px;
    }
  }
}

