@import "lib/colors.less";

#projects{
  .thumbnail{
    border: 0;
    height: 130px;
    img{
      max-height: 100px;
    }
  }

  h4,p{
    margin-bottom: 15px;
    text-align: center;
    color: @light-color;
  }

  table td{
    vertical-align: top;
  }
}

