@import "lib/colors.less";

#projects{
  padding-bottom: 40px;
  h1{
    text-align: center;
    margin: 80px;
  }
  .thumbnail{
    border: 0;
    height: 130px;
    background-color: transparent;
    margin-bottom: 0;
    img{
      max-height: 100px;
      &.smaller{
        max-height: 70px;
        margin-top: 15px;
      }
    }
  }

  p{
    font-size: 12px;
  }

  h4,p{
    margin-bottom: 15px;
    text-align: center;
  }

  table td{
    vertical-align: top;
  }
}

