@import "lib/colors.less";

#technology-slides{
  .carousel {
    height:470px;

    .carousel-inner{
      text-align:center;
    }

    p{
      font-size:14px;
    }

    .slide-illustration{
      margin-bottom: 60px;
      img{
        height: 300px;
      }
    }
  }
  .carousel-indicators li{
    border-color: @text-purple;
    &.active{
      background-color: @bg-purple;
    }
  }
}