@import "lib/colors";
@import "lib/elements";

#videos{
  .thumbnail{
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    background-color: transparent;
    img{
      margin: 0;
    }
    .title{
      opacity: 0;
      width: 100%;
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      .bg-rgba-dark-blue();
      padding: 20px 10px;
      .transition(opacity,0.3s);
    }
    &:hover{
      .title{
        opacity: 1;
      }
    }
  }
}