<template name="licensingPrinciples">
  <section id="licensing-principles" class="section-flow light-grey at-page-top point-down">
    <div class="container">
      <h1>Licensing</h1>
      <div class="row">
        <div class="col-xs-12">
          <p>
            The Ethereum Foundation ensures three principles concerning the funds it uses to develop Ethereum:
          </p>
        </div>
      </div>
      <div class="subcontainer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-4">
              <div class="thumbnail no-decoration">
                <img src="/images/ethereum_icon.svg"/>
                <div class="text-center">
                  It is both open source software and Free software after the definition of the Free Software Foundation (so-called FOSS)
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="thumbnail no-decoration">
                <img src="/images/ethereum_icon.svg"/>
                <div class="text-center">
                  No special treatment is given to any single entity concerning the copyright of the software, the Foundation included
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="thumbnail no-decoration">
                <img src="/images/ethereum_icon.svg"/>
                <div class="text-center">
                  Binaries will not be distributed ahead of the source-code
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
