<template name="licensingMiddleware">
  <section id="licensing-middleware" class="section-flow dark-blue point-down">
    <div class="container">
      <h1>The middleware</h1>
      <div class="row">
        <div class="col-xs-12">
          <p>
            The middleware of Ethereum, including the Javascript-based ethereum.js, the webthree libraries and eth (the command line client) will be distributed under an Affero licence, likely the LGPL variant of it. We wish to allow free development of technologies by allowing linking to arbitrary software, but again would like to incentivise feeding of back-end integration work back into the community, especially regarding the interoperability with legacy systems.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
