<template name="licensingStory">
  <section id="licensing-story" class="section-flow dark-blue headerless point-down">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>
            However, this is not where the story ends; there are many different licences available that conform to these rules.
          </p>
          <p>
            After considerable discussion, both internal and external together with The Ethereum software collection is distributed under several licences, partly to reflect the different thinking of the minds behind different pieces of software and partly to reflect the need to adapt to real-world issues and opportunities and lay out a strategy to provide the best possible future for the Ethereum community.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
